@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 10%;
  font-size: 2rem;
  font-family: MyNerve;
}

a {
  text-decoration: none;
  cursor: crosshair;
  color: blue;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

a:visited {
  color: purple;
}

a:hover {
  color: dodgerblue;
}

a:active {
  color: red;
}
