@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

html {
  font-family: Mynerve;
}
/* input,
button {
  font: inherit;
} */

h1 {
  text-align: center;
}

body {
  font-size: 2rem;
  padding: 10%;
  color: #333;
}

p {
  /* text-decoration: underline;
   */
  /* font-family: "Roboto Mono", monospace; */
  font-family: Pacifico;
  text-transform: lowercase;
  text-align: justify;
  text-indent: 2em;
  line-height: 1.5;
  font-weight: lighter;
  font-style: norma;
  /* letter-spacing: 0.1em; */
  /* word-spacing: 2em; */
}
